@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Roboto, Arial, sans-serif;
}

// weather
.el-container {
  width: 350px;
}

.weather-container {
  position: relative;
}

.weather-service-button {
  position: absolute;
  top: 35px;
  right: 35px;
  z-index: 10;
}

// weather card
.weatherImage {
  width: 100%;
}
.weatherCurrentTemp {
  font-size: 42px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
.weather-header {
  align-items: center;
  text-align: center;
}
.weather-otherData {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.weather-otherData-item {
  margin: 8px 16px 8px 0;
}

// settings
.settings {
  &-header {
    margin-bottom: 24px;
  }
  &-input {
    margin-bottom: 24px;
  }
}
.settingsItem {
  width: 100%;
  margin: 4px 0;
  align-items: center;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  height: 40px;
  border-radius: 4px;
  cursor: pointer;
  &-burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px;

    &-item {
      width: 20px;
      height: 2px;
      background-color: #2c3e50;
      margin: 2px 0;
    }
  }

  &-city {
    padding-left: 16px;
  }
  &-delete {
    &__button {
      border: none;
    }
  }
}